:root {
	--buttonPrimary: #13aa52;
	--buttonSecondary: #2ecc71;
	--textInputAccent: #4e9eff;
/* 	--textInputGrad: linear-gradient(90deg, rgba(78,158,255,0) 0%, rgba(78,158,255,1) 20%, rgba(78,158,255,1) 80%, rgba(78,158,255,0) 100%);*/
	--textColor: #ddd;
	--cornerRadius: 8px;
	--defaultFont: GilroyBold, Arial, Helvetica, sans-serif;
	--lightFont: Gilroy, Arial, Helvetica, sans-serif;
	--codeBlockFont: Consolas, Menlo, 'Courier New', monospace;
	--diffBeg: #78ACff;
	--diffBas: #FFE562;
	--diffDif: #ED4245;
	--diffExp: #2ECC71;
	--diffCha: #E66AFF;
	--judgeOK: #FF9E1E;
	--diffNaN: #FFF;
}

@font-face {
	font-family: Gilroy;
	src: url("./fonts/Gilroy-Light.ttf");
}

@font-face {
	font-family: GilroyBold;
	src: url("./fonts/Gilroy-Bold.ttf");
}

a{
	color: var(--buttonSecondary);
	text-decoration: none;
	transition: ease-out color 150ms;
}
a:hover{
	color: var(--buttonPrimary);
}

#left,#right{
	display: block;
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
}

#groups {
	display: flex;
}

body {
	background-color: #1f1f1f;
	color: var(--textColor);
	font-family: var(--defaultFont);
	overflow-x: visible;
	min-width: 777px;
}

#codeBlock{
	font-family: var(--codeBlockFont);
	font-size: 13.6px;
	background-color: #333;
	color: #888;
	cursor: pointer;
	border-radius: var(--cornerRadius);
	padding: 10px;
    white-space: nowrap;
}

.beg,.good      { color: var(--diffBeg); }
.bas,.perfect   { color: var(--diffBas); }
.dif,.miss      { color: var(--diffDif); }
.exp,.great     { color: var(--diffExp); }
.cha,.almost    { color: var(--diffCha); }
.NaN,.marvelous { color: var(--diffNaN); }
.ok             { color: var(--judgeOK) }
.NaN a{ color: var(--diffBeg) !important; }
.command {
	padding-top: 5px;
	height: 56px;
}
.viewUnrecognizedFile {
	background: none;
	border: 0px;
	font-family: var(--codeBlockFont);
	font-size: 13.6px;
	color: var(--diffBeg);
	padding: 0px;
	font-weight: bold;
	cursor: pointer;
}
.viewUnrecognizedFile:hover {
	text-decoration: underline;
}

#loadingBar {
	background: var(--buttonPrimary);
	height: 4px;
	position: fixed;
	left: 0px;
	top: 0px;
	transition: width ease-out 150ms;
	z-index: 100;
}

.greenBtn {
	background-color: var(--buttonPrimary);
	border: 1px solid var(--buttonSecondary);
	border-radius: var(--cornerRadius);
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: var(--defaultFont);
	font-size: 18px;
	font-weight: 400;
	min-width: 115px;
	outline: none;
	padding: 10px 15px;
	text-align: center;
	transform: translateY(0);
	transition: transform ease-out 150ms, box-shadow 150ms, opacity 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.greenBtn:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	opacity: 80%;
	transform: translateY(-1px);
}

.greenBtn:active {
	transform: translateY(2px);
}

/* form starting stylings ------------------------------- */
.imgInput {
	position: relative;
	margin-bottom: 25px;
}

/* input[type=file] {
	padding: 8px 8px 8px 8px;
	width: calc(100% - 81px);
	font: var(--defaultFont);
	border-radius: var(--cornerRadius);
	color: #999;
	cursor: pointer;
	background-color: #333;
}
input[type=file]:valid {
	color: var(--textInputAccent);
}
input[type=file]::file-selector-button {
	background-color: var(--buttonPrimary);
	border: 1px solid var(--buttonSecondary);
	border-radius: calc(var(--cornerRadius)/2);
	color: #fff;
	font-family: var(--defaultFont);
} */
input[type=file] {
	display: none;
}
.fileName {
	padding: 8px 8px 8px 8px;
	width: calc(100% - 88px);
	font: var(--defaultFont);
	border-radius: var(--cornerRadius);
	color: #999;
	cursor: pointer;
	background-color: #333;
}
.fileInputThumb {
	background-color: #333;
	object-fit: contain;
	width: 52px;
	height: 52px;
	border-radius: var(--cornerRadius);
	position: absolute;
	right: 0px;
	bottom: -8px;
}

input[type=text] {
	font-size: 18px;
	padding: 8px 8px 8px 8px;
	display: block;
	font-family: var(--lightFont);
	background-color: #333;
	color: var(--textColor);
	border-radius: var(--cornerRadius);
	width: calc(100% - 88px);
	border: none;
}
.urlInputThumbList {
	position: absolute;
	/* border: solid green 1px; */
	right: 0px;
	top: -13px;
	display: block;
	width: 52px;
	height: 500px;
}
.urlInputThumb {
	background-color: #333;
	object-fit: contain;
	width: 52px;
	height: 52px;
	border-radius: var(--cornerRadius);
	position: relative;
	z-index: 10;
	margin-top: 5px;
}
.urlInputThumb + .urlInputThumb {
	padding: 0px;
}
input[type=text]:focus {
	outline: none;
}

/* LABEL ======================================= */
.labelFile,.labelURL {
	top: -20px;
	position: relative;
	font-size: 14px;
	color: var(--textInputAccent);
}
.progress {
	top: -22px;
	position: relative;
}
.imgTopLabel {
	display: flex;
	height: 0px;
}
.removeBtn {
	top: -21px;
	background: none;
	border: 0px;
	color: var(--diffDif);
	font-family: var(--defaultFont);
	font-size: 14px;
	position: relative;
}
.removeBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}
.removeBtn:active {
	color: var(--diffNaN)
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background-repeat: no-repeat;
	background: var(--textInputAccent);
	transition: 0.2s ease-out all;
	-moz-transition: 0.2s ease-out all;
	-webkit-transition: 0.2s ease-out all;
}

.bar:before {
	left: calc(50% - 72px);
}

.bar:after {
	right: 50%;
}

/* active state */
input[type=text]:focus~.bar:before,
input[type=text]:focus~.bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
input[type=text]:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease-out;
	-moz-animation: inputHighlighter 0.3s ease-out;
	animation: inputHighlighter 0.3s ease-out;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from {
		background: var(--textInputAccent);
	}

	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background:var(--textInputAccent);
	}

	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: var(--textInputAccent);
	}

	to {
		width: 0;
		background: transparent;
	}
}